
body{
    background-image: url(https://lh5.googleusercontent.com/proxy/WIK4ZUzm_OqmDdAh4KP6hJ2e7zzHNIoSRohvu4cVHoelr42oLd0JXhpYCgRmG_vBTgHZiYw7OIp8lDorMiwEoeczF6taMumCC9xCRA=s0-d);
    background-size: cover;}

.Heading{
    font-size: 15vh;
    text-align: center;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.SubHeading{
    background-image: url();
    font-size: 45px;
    text-align: center;
    background-image: ;
    border: 10px solid black;
    padding: 60px 30px;
}
.Chess29{
    text-align: center;
    font-size: 10vh;
    border: 3px solid black
}

.Chess{
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    border: 3px solid black
}

.MC{
    text-align: center;
    font-size: 10vh;
    border: 3px solid black
}
.Mine{
    font-size: 45px;
    font-family: sans-serif;
    border: 3px solid black
}

.Counter{
text-align: center;
font-size: 10vh;
border: 3px solid black
}
.CSGO{
    font-size: 45px;
    text-align: center;
    font-family: sans-serif;
    border: 3px solid black
}